<div>
    <h2 id="h2Mensaje"style="color:hsl(348, 83%, 47%);">Centro de Mensajes</h2>
    <div class="d-flex justify-content-between">
        
        <form onsubmit="return addMessage()">
            <input type="text" id="email" class="form-control mb-2" placeholder="Email" required>
            <input type="text" id="nombre" class="form-control mb-2" placeholder="Nombre" required>
            <input type="text" id="apellido" class="form-control mb-2" placeholder="Apellido" required>
            <input type="number" id="edad" class="form-control mb-2" placeholder="Edad" required>
            <input type="text" id="alias" class="form-control mb-2" placeholder="Alias" required>
            <input type="text" id="avatar" class="form-control mb-2" placeholder="Link avatar" required>
            <textarea type="textarea" id="text" class="form-control " placeholder="Mensaje" required></textarea>
            <input type="submit" class="btn btn-primary my-2" value="Enviar">
        </form>
        <div id="messages" class="mw-100"></div>
    </div>
</div>


